/* Main Logo Styling */
#main-title {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #305922;
    /* Background color */
    text-align: center;
    padding: 5px 0;
    /* Add some padding around the logo */
    z-index: 10000;
    /* Ensure it stays above all elements */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    /* Subtle shadow for effect */
}

/* Logo adjustments */
#rbd-logo {
    width: 60px;
    height: auto;
}

#parks-logo {
    width: 340px;
    height: auto;
}
/* High Priority Park Logo */
.park-info img {
    max-width: 150px; /* Ensure the logo scales appropriately */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Center align */
    border-radius: 5px; /* Optional: Add rounded corners */
}

.park-info a {
    text-align: left;
    color: #0078d7; /* Link color */
    text-decoration: none;
    font-size: 0.9em;
}

.park-info a:hover {
    text-decoration: underline; /* Highlight the link on hover */
}



/* Basic page layout */
body {
    padding-top: 0px;
    /* Add padding to account for the fixed title height */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #f4f4f4;
    line-height: 1.4;
}


h3 {
    color: #000;
    /* Orange on hover */
}

/* Hyperlink styling */
a {
    color: #85b8c5;
    /* Base color for hyperlinks */
    text-decoration: underline;
    /* Underlined for visibility */
    cursor: pointer;
    /* Pointer cursor for interactivity */
    transition: color 0.3s ease;
    /* Smooth transition for hover effect */
}

a:hover {
    color: #5d91c5;
    text-decoration: none;
    /* Optional: Remove underline on hover for effect */
}



/* Instructions Popup Overlay */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Dark transparent background */
    z-index: 10001;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}

/* Popup Content */
.popup-content {
    background: #fff;
    /* Black background */
    color: #000;
    /* White text */
    width: 500px;
    max-width: 90%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    position: relative;
}

/* Popup Close Button */
.popup-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #000;
    font-size: 1.5em;
    cursor: pointer;
}

.popup-close-button:hover {
    color: #5d91c5;
    /* Orange on hover */
}

/* Popup List Styling */
.popup-content ol {
    margin: 10px 0;
    padding: 0 20px;
}

.popup-content li {
    margin-bottom: 10px;
}

.popup-content h3 {
    margin-top: 0;
    color: #5d91c5;
}

/* Popup-specific strong styling */
#instructionsPopup strong {
    color: #397f4e;
    /* Green color for bold text */
}



/* MUST KEEP FOR FUNCTIONAL - Hidden state of the sidebar */
.sidebar-hidden {
    transform: translateX(-320px);
    /* Moves sidebar out of view */
}



/* Sidebar container */
#sidebar {
    position: fixed;
    /* Changed to fixed to ensure it's positioned relative to the viewport */
    width: 340px;
    padding: 10px;
    background: #c1c2c4;
    overflow-y: auto;
    border-right: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-out;
    left: 0;
    /* Ensure it starts from the left edge */
    top: 0;
    /* Align it to the top */
    bottom: 0;
    /* Stretch it to the bottom */
    z-index: 2000;
    /* Higher z-index if needed */
}

#sidebar h1 {
    margin-top: 0;
    font-size: 1.8em;
    color: #397f4e;
    font-weight: 700;
}

#sidebar p {
    color: #000;
    font-size: 0.9em;
    line-height: 1.4;
}

/* Toggle Siebar Button Styling */
.toggle-button {
    position: fixed;
    /* Keeps the button fixed on the screen */
    bottom: 5px;
    /* Position at the bottom of the sidebar */
    left: 0px;
    /* Start at the left edge of the viewport */
    background: #969696;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    z-index: 5000;
    /* Ensure it's above other content */
    border-radius: 0 5px 5px 0;
    /* Rounded corners on the right side */
    transform: translateX(0);
    /* Initial position not translated */
}

.toggle-button:hover {
    background: #397f4e;
}







/* Sidebar info container */
/* Park Info Styling */
.park-info {
    background: #fff;
    /* Black background */
    color: #000;
    /* White text */
    padding: 20px;
    border-radius: 6px;
    margin: 20px 0;
    font-size: 0.95em;
}

.park-info h2 {
    color: #5d91c5;
    /* Highlighted title */
    font-size: 1.2em;
    margin-bottom: 10px;
}

.park-info ul {
    list-style: none;
    /* Remove bullets */
    padding: 0;
    margin: 0;
}

.park-info li {
    margin-bottom: 10px;
    /* Spacing between rows */
    display: flex;
    /* Align label and content horizontally */
    justify-content: space-between;
}

.park-info strong {
    color: #397f4e;
    /* Green for emphasis */
    flex-basis: 40%;
    /* Adjust label width */
}

.park-info span {
    flex-basis: 60%;
    /* Adjust value width */
    text-align: left;
    font-weight: normal;
    /* Keep values regular weight */
}





/* The map takes remaining space */
#map {
    flex: 1;
    position: relative;
}

/* Legend styling */
#legend {
    position: absolute;
    bottom: 30px;
    right: 10px;
    /* Position legend on bottom right */
    background: rgba(255, 255, 255, 0.8);
    /* 30% transparent white background */
    color: #000;
    padding: 5px 15px;
    font-size: 0.9em;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#legend h3 {
    margin: 4px;
    /* Remove extra margin from the heading */
    padding-bottom: 5px;
    /* Optional: Add space below the title */
}


#legend div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#legend span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* METHODOLOGY Button */
.method-button {
    position: fixed;
    bottom: 170px;
    right: 15px;
    /* Position info button on bottom left */
    z-index: 1;
    background: #000;
    /* Green background */
    border: none;
    border-radius: 12px;
    /* Rounded rectangle */
    width: auto;
    /* Automatically adjusts to text width */
    padding: 8px 15px;
    /* Adds space around text for a button shape */
    font-size: 1em;
    /* Adjust font size */
    color: #fff;
    /* White text */
    cursor: pointer;
    text-align: center;
    line-height: normal;
    /* Normal line-height for text alignment */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    /* Subtle shadow */
}

.method-button:hover {
    background: #397f4e;
}

/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: none;
}

.modal-content {
    background: #fff;
    color: #000;
    width: 700px;
    max-width: 90%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.close-button {
    float: right;
    font-size: 1.5em;
    cursor: pointer;
    color: #000;
}

/* Ensure all sidebar feature text is uppercase */
.sidebar-feature {
    text-transform: uppercase;
}


/* SHARE BUTTON */

.mapbox-share-button {
    position: absolute;
    bottom: 40px;
    /* Adjust position */
    left: 0px;
    /* Adjust position */
    background-color: #969696;
    /* Green background */
    color: #fff;
    /* White text */
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 13.5px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    /* Ensure it's above the map */
}

.mapbox-share-button:hover {
    background-color: #397f4e;}

/* Main Logo Styling */
#main-title {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #305922;
    /* Background color */
    text-align: center;
    padding: 5px 0;
    /* Add some padding around the logo */
    z-index: 10000;
    /* Ensure it stays above all elements */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    /* Subtle shadow for effect */
}

#main-logo {
    max-width: 90%;
    /* Limit the logo width to 90% of the viewport */
    height: auto;
    /* Maintain aspect ratio */
    max-height: 80px;
    /* Prevent the logo from being too tall */
    object-fit: contain;
    /* Ensure the logo fits within the area */
}


/* Basic page layout */
body {
    padding-top: 0px;
    /* Add padding to account for the fixed title height */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #f4f4f4;
    line-height: 1.4;
}


h3 {
    color: #000;
    /* Orange on hover */
}

/* Hyperlink styling */
a {
    color: #5d91c5;
    /* Base color for hyperlinks */
    text-decoration: underline;
    /* Underlined for visibility */
    cursor: pointer;
    /* Pointer cursor for interactivity */
    transition: color 0.3s ease;
    /* Smooth transition for hover effect */
}

a:hover {
    color: #85b9c6;
    text-decoration: none;
    /* Optional: Remove underline on hover for effect */
}



/* Instructions Popup Overlay */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Dark transparent background */
    z-index: 10001;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}

/* Popup Content */
.popup-content {
    background: #fff;
    /* Black background */
    color: #000;
    /* White text */
    width: 500px;
    max-width: 90%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    position: relative;
}

/* Popup Close Button */
.popup-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #000;
    font-size: 1.5em;
    cursor: pointer;
}

.popup-close-button:hover {
    color: #5d91c5;
    /* Orange on hover */
}

/* Popup List Styling */
.popup-content ol {
    margin: 10px 0;
    padding: 0 20px;
}

.popup-content li {
    margin-bottom: 10px;
}

.popup-content h3 {
    margin-top: 0;
    color: #5d91c5;
}

/* Popup-specific strong styling */
#instructionsPopup strong {
    color: #397f4e;
    /* Green color for bold text */
}


/* Sidebar container */
#sidebar {
    position: fixed;
    /* Changed to fixed to ensure it's positioned relative to the viewport */
    width: 340px;
    padding: 10px;
    background: #c1c2c4;
    overflow-y: auto;
    border-right: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-out;
    left: 0;
    /* Ensure it starts from the left edge */
    top: 0;
    /* Align it to the top */
    bottom: 0;
    /* Stretch it to the bottom */
    z-index: 2000;
    /* Higher z-index if needed */
}

#sidebar h1 {
    margin-top: 0;
    font-size: 1.8em;
    color: #397f4e;
    font-weight: 700;
}

#sidebar p {
    color: #000;
    font-size: 0.9em;
    line-height: 1.4;
}

/* Toggle Siebar Button Styling */
.toggle-button {
    position: fixed;
    /* Keeps the button fixed on the screen */
    bottom: 5px;
    /* Position at the bottom of the sidebar */
    left: 0px;
    /* Start at the left edge of the viewport */
    background: #969696;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    z-index: 600001;
    /* Ensure it's above other content */
    border-radius: 0 5px 5px 0;
    /* Rounded corners on the right side */
    transform: translateX(0);
    /* Initial position not translated */
}

.toggle-button:hover {
    background: #397f4e;
}

/* MUST KEEP FOR FUNCTIONAL - Sidebar hidden state */
.sidebar-hidden .toggle-button {
    transform: translateX(320px);
    /* Moves button right to stick out from the hidden sidebar */
    content: '>>';
    /* Changes content to indicate expansion */
}







/* Sidebar info container */
/* Park Info Styling */
.park-info {
    background: #fff;
    /* Black background */
    color: #000;
    /* White text */
    padding: 20px;
    border-radius: 6px;
    margin: 20px 0;
    font-size: 0.95em;
}

.park-info h2 {
    color: #85b8c5;
    /* Highlighted title */
    font-size: 1.2em;
    margin-bottom: 10px;
}

.park-info ul {
    list-style: none;
    /* Remove bullets */
    padding: 0;
    margin: 0;
}

.park-info li {
    margin-bottom: 10px;
    /* Spacing between rows */
    display: flex;
    /* Align label and content horizontally */
    justify-content: space-between;
}

.park-info strong {
    color: #397f4e;
    /* Green for emphasis */
    flex-basis: 40%;
    /* Adjust label width */
}

.park-info span {
    flex-basis: 60%;
    /* Adjust value width */
    text-align: left;
    font-weight: normal;
    /* Keep values regular weight */
}





/* The map takes remaining space */
#map {
    flex: 1;
    position: relative;
}

/* Legend styling */
#legend {
    position: absolute;
    bottom: 30px;
    right: 10px;
    /* Position legend on bottom right */
    background: rgba(255, 255, 255, 0.8);
    /* 30% transparent white background */
    color: #000;
    padding: 5px 15px;
    font-size: 0.9em;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#legend h3 {
    margin: 4px;
    /* Remove extra margin from the heading */
    padding-bottom: 5px;
    /* Optional: Add space below the title */
}


#legend div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#legend span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* METHODOLOGY Button */
.method-button {
    position: fixed;
    bottom: 170px;
    right: 15px;
    /* Position info button on bottom left */
    z-index: 1;
    background: #000;
    /* Green background */
    border: none;
    border-radius: 12px;
    /* Rounded rectangle */
    width: auto;
    /* Automatically adjusts to text width */
    padding: 8px 15px;
    /* Adds space around text for a button shape */
    font-size: 1em;
    /* Adjust font size */
    color: #fff;
    /* White text */
    cursor: pointer;
    text-align: center;
    line-height: normal;
    /* Normal line-height for text alignment */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    /* Subtle shadow */
}

.method-button:hover {
    background: #397f4e;
}

/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: none;
}

.modal-content {
    background: #fff;
    color: #000;
    width: 700px;
    max-width: 90%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.close-button {
    float: right;
    font-size: 1.5em;
    cursor: pointer;
    color: #000;
}

/* Ensure all sidebar feature text is uppercase */
.sidebar-feature {
    text-transform: uppercase;
}






/* General Styles for Mobile Responsiveness */
@media (max-width: 768px) {

    /* Sidebar adjustments */
    #sidebar {
        width: 350px;
        font-size: 1em;
    }

    .sidebar-hidden {
        transform: translateX(-320px);
        /* Moves sidebar out of view */
    }


    /* Toggle Siebar Button Styling */
    .toggle-button {
        position: fixed;
        /* Keeps the button fixed on the screen */
        bottom: 5px;
        /* Position at the bottom of the sidebar */
        left: 0px;
        /* Start at the left edge of the viewport */
        background: #969696;
        color: #fff;
        border: none;
        cursor: pointer;
        padding: 5px 10px;
        z-index: 60000;
        /* Ensure it's above other content */
        border-radius: 0 5px 5px 0;
        /* Rounded corners on the right side */
        transform: translateX(0);
        /* Initial position not translated */
    }

    .toggle-button:hover {
        background: #397f4e;
        /* Slightly darker green on hover */
    }

    /* MUST KEEP FOR FUNCTIONAL - Sidebar hidden state */
    .sidebar-hidden .toggle-button {
        transform: translateX(330px);
        /* Moves button right to stick out from the hidden sidebar */
        content: '>>';
        /* Changes content to indicate expansion */
    }

    /* Park-info box adjustments */
    .park-info {
        padding: 10px;
        font-size: 1em;
    }

    .park-info h2 {
        font-size: 1.3em;
    }

    /* Methodology button adjustments */
    .method-button {
        bottom: 150px;
        right: 10px;
        padding: 6px 10px;
        font-size: 0.9em;
    }

    /* Legend adjustments */
    #legend {
        bottom: 25px;
        right: 10px;
        padding: 8px 10px;
        font-size: 0.75em;
    }

    #legend span {
        width: 15px;
        height: 15px;
    }

    /* Instructions popup adjustments */
    .popup-content {
        width: 60%;
        padding: 15px;
        font-size: 0.9em;
    }

    .popup-close-button {
        font-size: 1.8em;
        top: 3px;
        right: 3px;
    }

    /* General text adjustments */
    body {
        font-size: 1.1em;
        line-height: 1.2;
    }

    h3 {
        font-size: 1.3em;
    }

    a {
        font-size: 0.9em;
    }

    /* Logo adjustments */
    #rbd-logo {
        width: 50px;
        height: auto;
    }

    #parks-logo {
        width: 280px;
        height: auto;
    }
    .modal-content {
        width: 80%; /* Make it take most of the screen */
        max-width: 600px; /* Cap the max width */
        margin: 50px auto; /* Reduce margin for smaller screens */
        padding: 15px; /* Slightly smaller padding */
        font-size: 0.9em;
    }
}





/* For very small screens (e.g., phones) */
@media (max-width: 480px) {
    #sidebar {
        width: 250px;
        font-size: 0.8em;
    }

    .sidebar-hidden {
        transform: translateX(-220px);
        /* Moves sidebar out of view */
    }


    /* Toggle Siebar Button Styling */
    .toggle-button {
        position: fixed;
        /* Keeps the button fixed on the screen */
        bottom: 5px;
        /* Position at the bottom of the sidebar */
        left: 0px;
        /* Start at the left edge of the viewport */
        background: #969696;
        color: #fff;
        border: none;
        cursor: pointer;
        padding: 5px 10px;
        z-index: 60000;
        /* Ensure it's above other content */
        border-radius: 0 5px 5px 0;
        /* Rounded corners on the right side */
        transform: translateX(0);
        /* Initial position not translated */
    }

    .toggle-button:hover {
        background: #397f4e;
    }

    /* MUST KEEP FOR FUNCTIONAL - Sidebar hidden state */
    .sidebar-hidden .toggle-button {
        transform: translateX(230px);
        /* Moves button right to stick out from the hidden sidebar */
        content: '>>';
        /* Changes content to indicate expansion */
    }

    .park-info {
        font-size: 0.9em;
        padding: 10px;
    }

    .method-button {
        bottom: 140px;
        right: 8px;
        font-size: 0.7em;
        padding: 5px 8px;
    }

    #legend {
        padding: 5px 8px;
        font-size: 0.7em;
    }

    .popup-content {
        font-size: 0.7em;
        padding: 10px;
    }

    h3 {
        font-size: 1.2em;
    }

    a {
        font-size: 0.9em;
    }

    /* Logo adjustments */
    #rbd-logo {
        width: 40px;
        height: auto;
    }

    #parks-logo {
        width: 240px;
        height: auto;
    }
    .modal-content {
        width: 80%; /* Use almost the full width of the screen */
        max-width: 400px; /* Cap the max width for very small screens */
        margin: 30px auto; /* Smaller margin for limited vertical space */
        padding: 10px; /* Reduce padding for small screens */
        font-size: 0.6em;
    }
    .popup-close-button {
        font-size: 1.4em;
        top: 3px;
        right: 3px;
    }
}